<ion-view title="Alert">
  <ion-content class="has-header padding">
    <h5>Use this option if you're having a bad time and need support from friends and family. It will send the following message to your contacts:</h5>
    <p><em>Emergency! Ben Bailey needs your help. Text them to let them know you're there for them.</em></p>
    <form>
      <button class="button button-balanced button-block" ng-click="sendText()">Send text messages</button>
      <button class="button button-positive button-block" ng-click="sendEmail()">Send emails</button>
    </form>
    <p>If your life is in immediate danger, use the <a href="crisis.html">crisis</a> page to send a more urgent message.</p>
    <p>Select contacts to message below. If you do not select any, all will be messaged by default.</p>
    <ion-list>
        <ion-checkbox ng-repeat="contact in contacts" ng-model="contact.selected">{{contact.name}}</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
