<ion-view title="Settings">
  <ion-content class="has-header padding">
    <form ng-submit="saveUser(user)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" placeholder="John Smith" ng-model="user.name"></input>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="example@example.com" ng-model="user.email"></input>
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="(555) 555-5940" ng-model="user.phone"></input>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-royal">Save User</button>
      </div>
    </form>
    <!-- <ion-list>
        <ion-item ng-model="user.name">{{user.name}}</ion-item>
        <ion-item ng-model="user.email">{{user.email}}</ion-item>
        <ion-item ng-model="user.phone">{{user.phone}}</ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
